.example {
  background: radial-gradient(80% 40%, white, black);
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  color: #000000;
}
a {
	text-decoration: none;
	color: #2F30EE;
}
ul {
}