.EnabledLinkButton{
    color: #999 !important;
}
.FullPostDisplayInfo{
    color: #888 !important;
}
.TextBoxDecoratorWithLabel{
    color: #888 !important;
}
.RichTextAreaToolbar{
    background-color: #333 !important;
}
.ForumRootPostDisplayLastApprovedBeforeTd
{
    color: white !important;
}
.ForumRootPostDisplayStatisticsTd{
    color: white !important;
}