{% extends "base.html" %}

{% block title %}
        <title>Forums | Reach Network</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='forums'></div>
        <div class="row">
            <div class="small-12 columns panel">
                <span style="display:none;">***</span>
                <script type="text/javascript" language="javascript" id="pnyxeForumItJs" src="http://www.pnyxe.com/PnyxeForumItJs.jsp"></script>
                <script type="text/javascript" language="javascript" id="pnyxeForumItInitJs844395">try {
                        var zpbw_webWidgetClientKey = "b0yQ3boga_1nAQS.BHf_Iw";
                        var pnyxeForumIt = new PnyxeForumIt();
                        pnyxeForumIt.init("844395");
                    } catch (e) {
                    }</script>
                <noscript><a href="http://www.pnyxe.com/DiscussIt-comment-system?utm_source=wwcCodeSpanPromotion4" rel="nofollow">Commenting Platform</a></noscript>
            </div>
        </div>
{% endblock %}