{% extends "base.html" %}

{% block title %}
        <title>Home | Reach Network</title>
{% endblock %}

{% block content %}
        <div id="pageID" data-page='home'></div>
        <div class="row">
            <ul class="breadcrumbs">
                <li><a href="/">Reach Network</a></li>
                <li class="current"><a href="#">Home</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="small-12 columns panel">
                <h2>Welcome</h2>
                <p>Welcome to ReachNetOpPrison we are a hard working community and are looking to grow so join and have fun. Apply for staff and grow with us! We would like you to follow the rules at all time and don't just apply for staff for power.</p>
            </div>
        </div>
{% endblock %}
